.logo_def,.logo_retina {
  width: 130px;
  height: 30px;
}

.cs_logo .logo_def,.cs_logo .logo_retina,.landing_logo .logo_def,.landing_logo .logo_retina {
  width: 140px;
  height: 100px;
}

.preloader,body {
  background: #fff;
}

* {
  font-family: Roboto;
}

.no_bg a,.widget_archive ul li a,.widget_categories ul li a,.widget_meta ul li a,.widget_nav_menu ul li a,.widget_pages ul li a,.widget_posts .post_title,.widget_recent_entries ul li a,div,input,p,td,textarea {
  color: #7e7f81;
  font-weight: 400;
}

.prof_sidebar_links a{
	width:70%;
}

.widget_archive ul li a, .widget_categories ul li a, .widget_meta ul li a, .widget_nav_menu ul li a, .widget_pages ul li a, .widget_posts .post_title, .widget_recent_entries ul li a{
/*	padding-right:50px;*/
	padding-right:1px;
}
.shortcode_iconbox p {
  color: #7e7f81!important;
}

.pp_title,.shortcode_iconbox a:hover .iconbox_title,h1,h1 a,h1 small,h1 span,h2,h2 a,h2 small,h2 span,h3,h3 a,h3 small,h3 span,h4,h4 a,h4 small,h4 span,h5,h5 a,h5 small,h5 span,h6,h6 a,h6 small,h6 span {
  color: #3f4041;
}

.iconbox_title {
  color: #3f4041!important;
}

.logo {
  background-color: #eeeeee;
}

header.main_header {
  background-color: #262A3F;
/*  border-bottom-left-radius: 40%;*/
}

.mobile_menu li.menu-item-has-children>a:after,ul.mobile_menu a,ul.mobile_menu a span {
  color: #c7cacc;
}

header.main_header ul.menu>li>a {
  color: #c7cacc;
  font-weight: 900;
  font-size: 13px;
  line-height: 15px;
}

.main_header nav ul.menu>li.current-menu-ancestor>a,.main_header nav ul.menu>li.current-menu-item>a,.main_header nav ul.menu>li.current-menu-parent>a,.mobile_menu li.current-menu-ancestor.menu-item-has-children>a:after,.mobile_menu li.current-menu-item.menu-item-has-children>a:after,.mobile_menu li.current-menu-parent.menu-item-has-children>a:after,ul.mobile_menu li.current-menu-ancestor>a,ul.mobile_menu li.current-menu-ancestor>a span,ul.mobile_menu li.current-menu-item>a,ul.mobile_menu li.current-menu-item>a span,ul.mobile_menu li.current-menu-parent>a,ul.mobile_menu li.current-menu-parent>a span {
  color: #616364;
}

.main_header nav ul.sub-menu,.main_header nav ul.sub-menu li ul.sub-menu li ul.sub-menu {
 /* background-color: #2e3032;*/
  background:#262A3F;
}

.main_header nav ul.sub-menu li ul.sub-menu {
  background-color: #1d1e1f;
}

.main_header nav ul.sub-menu li ul.sub-menu li ul.sub-menu li>a,.main_header nav ul.sub-menu li>a {
  color: #c8c9cc;
  font-size: 12px;
  line-height: 14px;
}

.main_header nav ul.sub-menu li ul.sub-menu li>a {
  color: #a1a2a4;
}

.main_header nav ul.sub-menu li ul.sub-menu li ul.sub-menu li>a:before,.main_header nav ul.sub-menu li ul.sub-menu li>a:before,.main_header nav ul.sub-menu li>a:before {
  background-color: #45484a;
}

footer.main_footer {
  background-color: #1d1e1f;
  float: left;
	width: 100%;
	margin-top: 20px;
}
footer.main_footer .socials {
	padding: 5px 33px 10px 0px;;
}

.back404 a,.back404 a:hover,.copyright,.phone {
  color: #c7cacc;
}

.left-sidebar-block,.right-sidebar-block {
  border-color: #e4e7e9;
}

div,input,p,td {
  font-family: Roboto;
  font-weight: 400;
}

.fs_descr {
  font-family: Roboto!important;
}

a:hover {
  color: #7e7f81;
  font-weight: 400;
}

.filter_toggler,.main_header nav ul.menu li a,.main_header nav ul.menu li span,ul.mobile_menu li a,ul.mobile_menu li span {
  font-family: Roboto;
  font-size: 13px;
  line-height: 15px;
}

blockquote p,div,input,input[type=text],input[type=email],input[type=password],p,td,textarea, option, input[type=date] {
  font-size: 12px;
  line-height: 22px;
}

article.contentarea p{
	font-size:16px;
}
.main_header nav ul.menu>li>a,ul.mobile_menu>li>a {
  font-size: 13px;
  line-height: 15px;
}

.main_header nav ul.menu>li>a:before,ul.mobile_menu>li>a:before {
  line-height: 15px;
}

h1,h1 a,h1 small,h1 span,h2,h2 a,h2 small,h2 span,h3,h3 a,h3 small,h3 span,h4,h4 a,h4 small,h4 span,h5,h5 a,h5 small,h5 span,h6,h6 a,h6 small,h6 span {
  font-family: Roboto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  padding: 0;
}

.search404.search_form .search_button,.shortcode_tab_item_title,blockquote.shortcode_blockquote.type3:before,blockquote.shortcode_blockquote.type4:before,blockquote.shortcode_blockquote.type5:before,input[type=button],input[type=reset],input[type=submit] {
  font-family: Roboto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.countdown-amount,.countdown-period,.dropcap,.easyPieChart,.easyPieChart span,.load_more_works,.load_more_works:hover,.notify_shortcode input[type=submit],.share_toggle,.share_toggle:hover,.shortcode_button,.shortcode_button:hover {
  font-family: Roboto;
  font-weight: 900;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.sidebar_header {
  font-family: Roboto;
}

.box_date span,.chart.easyPieChart,.chart.easyPieChart span,.countdown-amount,.countdown-period,.countdown-row .countdown-section:before,.search404 .search_button,a.shortcode_button,input[type=button],input[type=reset],input[type=submit] {
  font-family: Roboto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.search404 .search_button,h1,h1 a,h1 a:hover,h1 span,h2,h2 a,h2 a:hover,h2 span,h3,h3 a,h3 a:hover,h3 span,h4,h4 a,h4 a:hover,h4 span,h5,h5 a,h5 a:hover,h5 span,h6,h6 a,h6 a:hover,h6 span,input[type=button],input[type=reset],input[type=submit] {
  font-weight: 900;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

input[type=button],input[type=reset],input[type=submit] {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1,h1 a,h1 span,h3.promo_title {
  font-size: 22px;
  line-height: 24px;
}

h2,h2 a,h2 span {
  font-size: 20px;
  line-height: 22px;
}

h3,h3 a,h3 span {
  font-size: 18px;
  line-height: 20px;
}

h3.comment-reply-title,h3.comment-reply-title a,h4,h4 a,h4 span {
  font-size: 16px;
  line-height: 18px;
}

h5,h5 a,h5 span {
  font-size: 14px;
  line-height: 16px;
}

.comment_info h6:after,h6,h6 a,h6 span {
  font-size: 12px;
  line-height: 14px;
}

/*::selection {
  background: #484F71;
}

::-moz-selection {
  background: #484F71;
}
*/
.main_header nav ul li:hover>a,.main_header nav ul.sub-menu li.current-menu-ancestor:hover>a,.main_header nav ul.sub-menu li.current-menu-ancestor>a,.main_header nav ul.sub-menu li.current-menu-item:hover>a,.main_header nav ul.sub-menu li.current-menu-item>a,.main_header nav ul.sub-menu li.current-menu-parent:hover>a,.main_header nav ul.sub-menu li.current-menu-parent>a,.main_header nav ul.sub-menu li.current_page_item:hover>a,.main_header nav ul.sub-menu li.current_page_item>a {
  color: #f4f4f4 !important;
}

.author_name a:hover,.blogpost_title a:hover,.count_title,.count_title h1,.dropcap.type2,.dropcap.type5,.featured_items_title h5 a:hover,.filter_toggler:hover,.header_filter .optionset li.selected a,.no_bg a:hover,.optionset li a:hover,.portfolio_block h5 a:hover,.portfolio_dscr_top h3 a:hover,.pp_title span,.shortcode_iconbox a:hover .ico i,.shortcode_iconbox a:hover .iconbox_body,.shortcode_iconbox a:hover .iconbox_body p,.shortcode_iconbox a:hover .iconbox_title,.widget_archive ul li a:hover,.widget_categories ul li a:hover,.widget_meta ul li a:hover,.widget_nav_menu ul li a:hover,.widget_pages ul li a:hover,.widget_posts .post_title:hover,.widget_recent_entries ul li a:hover,a,blockquote.shortcode_blockquote.type5:before,input[type=text]:focus,input[type=email]:focus,input[type=date],input[type=password]:focus,ol li:before,textarea:focus,ul li:before {
  color: #484F71;
}

input[type=text]:focus::-webkit-input-placeholder, input[type=date]:focus::-webkit-input-placeholder,input[type=email]:focus::-webkit-input-placeholder,input[type=password]:focus::-webkit-input-placeholder,textarea:focus::-webkit-input-placeholder {
  color: #484F71;
  -webkit-font-smoothing: antialiased;
}

input[type=text]:focus::-moz-placeholder,input[type=email]:focus::-moz-placeholder,input[type=password]:focus::-moz-placeholder,textarea:focus::-moz-placeholder {
  color: #484F71;
  opacity: 1;
  -moz-osx-font-smoothing: grayscale;
}

input[type=text]:focus:-ms-input-placeholder {
  color: #484F71;
}

input[type=email]:focus:-ms-input-placeholder {
  color: #484F71;
}

input[type=password]:focus:-ms-input-placeholder {
  color: #484F71;
}

textarea:focus:-ms-input-placeholder {
  color: #484F71;
}

.bc_title a:hover,.module_team .team_title a:hover,.optionset li.selected a,.price_item.most_popular .item_cost_wrapper h3,.price_item.most_popular .item_cost_wrapper h5,.shortcode_iconbox a:hover .ico i,.widget_archive ul li a:hover,.widget_categories ul li a:hover,.widget_meta ul li a:hover,.widget_nav_menu ul li a:hover,.widget_nav_menu ul li.current-menu-item a,.widget_pages ul li a:hover,.widget_posts .post_title:hover,.widget_recent_entries ul li a:hover,.wrapper404 h1 span {
  color: #484F71;
}

.featured_item_footer .gallery_likes:hover i,.featured_item_footer .gallery_likes:hover span,.featured_item_footer .morelink:hover,.module_team a.teamlink:hover,.preview_likes,.preview_likes i {
/*  color: #484F71!important;*/
}

#reply-title:before,.blogpost_user_meta h5:before,.box_date .box_month,.featured_items_title h5:before,.highlighted_colored,.module_team h5:before,.notify_shortcode input[type=submit],.pagerblock li a:hover,.portfolio_dscr_top h3:before,.postcomment:before,.preloader:after,.price_item .price_item_btn a:hover,.price_item.most_popular .price_item_title,.search404 .search_button,.share_toggle:hover,.shortcode_button.btn_type1:hover,.shortcode_button.btn_type5,.title:before,.title_square h1:before,.title_square h2:before,.title_square h3:before,.title_square h4:before,.title_square h5:before,.title_square h6:before,input[type=button],input[type=reset],input[type=submit] {
  background-color: #484F71;
}

#s_row_fm_submit:hover,.blog_post_preview .blogpost_title:before,.pp_wrapper input[type=submit]:hover,.search_button:hover {
  background-color: #484F71!important;
}

.fs_blog_top,.iconbox_wrapper .ico,.module_cont hr.type3,.promoblock_wrapper,.simple-post-top,.widget_search .search_form,.widget_tag_cloud a:hover,blockquote.shortcode_blockquote.type2,blockquote.shortcode_blockquote.type5 .blockquote_wrapper {
  border-color: #484F71;
}

.bc_likes:hover:after {
  border-color: transparent transparent transparent #484F71;
}

.landing_logo {
  background: #151516;
}

.fullscreen_portfolio.with_padding .load_more_works:hover,.fullscreen_portfolio.with_padding .optionset li a:hover,.fullscreen_portfolio.with_padding .optionset li.selected a {
  color: #484F71;
}

.fullscreen_portfolio.with_padding .load_more_works:hover span:after,.fullscreen_portfolio.with_padding .load_more_works:hover span:before {
  background: #484F71;
}