.smk_accordion{
	width:100%;
float:left;
	position: relative;
	margin-bottom: 20px;
}
.smk_accordion .accordion_in{
	margin:3px 0;
/*	border: 1px solid #ccc;*/
	position: relative;
	z-index: 10;
	overflow: hidden;
	font-size:11.5px;
}

.acc_content {
	margin:0 !important;
/*	padding:0 !important;*/
float:left;
	font-size:11px;
	width: 100%;
}
.acc_content a{
	color:#fff  !important;
}
/* Head */
.smk_accordion .accordion_in .acc_head:hover{
	background: rgba(255, 255, 255, 0.25);
}

.smk_accordion .accordion_in .acc_head{
	color:#ccc  !important;
	padding:5px;
	position: relative;
	line-height:11.5px;
/*	background: #FDFDFD;
	padding: 10px;
	font-size: 14px;*/
	display: block;
	cursor: pointer; 
}
/*.smk_accordion .accordion_in:first-of-type,
.smk_accordion .accordion_in:first-of-type .acc_head{
	border-radius: 3px 3px 0 0;
}
.smk_accordion .accordion_in:last-of-type,
.smk_accordion .accordion_in:last-of-type .acc_content{
	border-radius: 0 0 3px 3px;
}
*/
/* Content */
.smk_accordion .accordion_in .acc_content p{
	color:#ccc !important;
}
.smk_accordion .accordion_in .acc_content{
	/*background: #F9F9F9;
	color: #7B7E85;*/
	background: rgba(255, 255, 255, 0.25);
	padding: 3px 10px;
}
.smk_accordion .accordion_in h1:first-of-type,
.smk_accordion .accordion_in h2:first-of-type,
.smk_accordion .accordion_in h3:first-of-type,
.smk_accordion .accordion_in h4:first-of-type,
.smk_accordion .accordion_in h5:first-of-type,
.smk_accordion .accordion_in h6:first-of-type
{
	margin-top: 5px;
}


/* Icon expand */
.smk_accordion .accordion_in .acc_head .acc_icon_expand{
	display: block;
	width: 18px;
	height: 18px;
	position: absolute;
	left: 10px;
	top: 50%;
	margin-top: -9px;
	background: url(../images/plusminus.png) center 0;
}
.smk_accordion .accordion_in.acc_active .acc_head .acc_icon_expand{
	background: url(../images/plusminus.png) center -18px;
}

/* JS requires */
.smk_accordion .accordion_in.acc_active .acc_content{ 
	display: block;
}
.smk_accordion .accordion_in.acc_active .acc_head{
	background: #F9F9F9;
	background: rgba(255, 255, 255, 0.25);
}
.smk_accordion.acc_with_icon .accordion_in .acc_head,
.smk_accordion.acc_with_icon .accordion_in .acc_content{
	padding-left: 40px;
}
