/*                       #34428E              */

html {
  font-family:Arial, Helvetica, sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}

::-moz-selection{background:#5F668C ;color:#fff; text-shadow:none;}
::selection{background:#5F668C color:#fff; text-shadow:none;}
body.basey{
/*	background:#333;*/
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
  text-decoration:none;
  color:#333;
}
a:visited,
a:active,
a:hover {
  outline: 0;
  text-decoration:none;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  margin: .67em 0;
  font-size: 2em;
}
mark {
  color: #000;
  background: #ff0;
}
small {
  font-size: 80%;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -.5em;
}
sub {
  bottom: -.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  height: 0;
  -moz-box-sizing: content-box;
       box-sizing: content-box;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  padding: .35em .625em .75em;
  margin: 0 2px;
  border: 1px solid #c0c0c0;
}
legend {
  padding: 0;
  border: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th {
  padding: 0;
}
@media print {
  * {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  a,
  a:visited {
   /* text-decoration: underline;*/
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;

    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  select {
    background: #fff !important;
  }
  .navbar {
    display: none;
  }
  .table td,
  .table th {
    background-color: #fff !important;
  }
  .btn > .caret,
  .dropup > .btn > .caret {
    border-top-color: #000 !important;
  }
  .label {
    border: 1px solid #000;
  }
  .table {
    border-collapse: collapse !important;
  }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important;
  }
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  font-size: 62.5%;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}



body.login{
	margin: 0;
	background:url(../images/welcome.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/welcome.jpg', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/welcome.jpg', sizingMethod='scale')";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-size:16px;
}

body{
	margin: 0;
	padding:0;
	width: 100%;
	height: 100%;
	font-size:16px;
}


.bg_container{
	width: 100%;
	height: 100%;
	position: relative;
	text-align: center;
}


.login_marginer{
	margin: 200px auto 0 auto;
	width:425px;
	min-height:400px;
}

.my_row{
	float:left;
	width:100%;
}

.login_con{
	margin-bottom:50px;
	float:left;
	width:100%;	
	padding:25px 0;
	border-radius:5px;
	background:rgba(255, 255, 255, 0.8);
	/*box-shadow: 0 0 4px rgba(0, 0, 0, 0.55);*/
}

.log_sign_function_row{
	margin:20px 0;
}

.login_slogan_marginer{
	width:90%;
	margin:auto;
}
.fgort_pass_tt{
	display:none;
}
.login_slogan{
	float:left;
	width:100%;
	margin:5px 0;
	color:#595C69;
	font-family:arial;
	text-align:center;
}


.log_sign_function_button_marginer{
	width:90%;
	margin:auto;
}

.log_sign_function_button_row i{
	font-style:normal !important
}

.log_sign_function_button_row{
	margin-top:20px;
	text-align:center;
}

.fgtp:hover{
	color:#fff;
}
.fgtp{
	float:left;
	margin-top:5px;
	font-size:12px;
	display:block;
	width:100%;
	text-align:center;
	color:#ddd;
}

.side_slider{
	cursor:pointer;
}

.but_logo img{
	height:100%;
	width:auto;
	float:left;
}

.but_logo{
	float:left;
	height:40px;
}

.button_styler:hover{	

background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc4ODJiMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1ZjY4OTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(120,130,176,1) 0%, rgba(95,104,149,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(120,130,176,1)), color-stop(100%,rgba(95,104,149,1)));
background: -webkit-linear-gradient(top, rgba(120,130,176,1) 0%,rgba(95,104,149,1) 100%);
background: -o-linear-gradient(top, rgba(120,130,176,1) 0%,rgba(95,104,149,1) 100%);
background: -ms-linear-gradient(top, rgba(120,130,176,1) 0%,rgba(95,104,149,1) 100%);
background: linear-gradient(to bottom, rgba(120,130,176,1) 0%,rgba(95,104,149,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7882b0', endColorstr='#5f6895',GradientType=0 );
}

.button_styler{	
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZmN2FhYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1ODYwODkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(111,122,170,1) 0%, rgba(88,96,137,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(111,122,170,1)), color-stop(100%,rgba(88,96,137,1)));
background: -webkit-linear-gradient(top, rgba(111,122,170,1) 0%,rgba(88,96,137,1) 100%);
background: -o-linear-gradient(top, rgba(111,122,170,1) 0%,rgba(88,96,137,1) 100%);
background: -ms-linear-gradient(top, rgba(111,122,170,1) 0%,rgba(88,96,137,1) 100%);
background: linear-gradient(to bottom, rgba(111,122,170,1) 0%,rgba(88,96,137,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6f7aaa', endColorstr='#586089',GradientType=0 );
text-shadow:0 -1px 0px #2C345B;

font-family:com_r;
	text-align:center;
color:#EFF3FF;
border:solid thin #49527F;
border-radius:4px;
}

.log_sign_function_button{
	
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZmN2FhYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1ODYwODkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(111,122,170,1) 0%, rgba(88,96,137,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(111,122,170,1)), color-stop(100%,rgba(88,96,137,1)));
background: -webkit-linear-gradient(top, rgba(111,122,170,1) 0%,rgba(88,96,137,1) 100%);
background: -o-linear-gradient(top, rgba(111,122,170,1) 0%,rgba(88,96,137,1) 100%);
background: -ms-linear-gradient(top, rgba(111,122,170,1) 0%,rgba(88,96,137,1) 100%);
background: linear-gradient(to bottom, rgba(111,122,170,1) 0%,rgba(88,96,137,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6f7aaa', endColorstr='#586089',GradientType=0 );
text-shadow:0 -1px 0px #2C345B;

font-family:com_r;
	text-align:center;
color:#EFF3FF;
border:solid thin #49527F;
border-radius:4px;
/*background: #646D96;*/

	padding:15px 0px;
	width:120px;
display:inline-block;
}


.log_sign_function_button:hover{
/*background: #707AA8;*/
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc4ODJiMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1ZjY4OTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(120,130,176,1) 0%, rgba(95,104,149,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(120,130,176,1)), color-stop(100%,rgba(95,104,149,1)));
background: -webkit-linear-gradient(top, rgba(120,130,176,1) 0%,rgba(95,104,149,1) 100%);
background: -o-linear-gradient(top, rgba(120,130,176,1) 0%,rgba(95,104,149,1) 100%);
background: -ms-linear-gradient(top, rgba(120,130,176,1) 0%,rgba(95,104,149,1) 100%);
background: linear-gradient(to bottom, rgba(120,130,176,1) 0%,rgba(95,104,149,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7882b0', endColorstr='#5f6895',GradientType=0 );
}
.log_sign_function_button_row .or{
	padding:0 10px;
	color:#2C345B;
}
.log_sign_function_row_top{
	margin:auto;
	width:80%;
	min-width:200px;
	height:2px;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmNlYSIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzM0NDI4ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left, rgba(254,252,234,0) 0%, rgba(52,66,142,1) 50%, rgba(255,255,255,0) 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(254,252,234,0)), color-stop(50%,rgba(52,66,142,1)), color-stop(100%,rgba(255,255,255,0)));
background: -webkit-linear-gradient(left, rgba(254,252,234,0) 0%,rgba(52,66,142,1) 50%,rgba(255,255,255,0) 100%);
background: -o-linear-gradient(left, rgba(254,252,234,0) 0%,rgba(52,66,142,1) 50%,rgba(255,255,255,0) 100%);
background: -ms-linear-gradient(left, rgba(254,252,234,0) 0%,rgba(52,66,142,1) 50%,rgba(255,255,255,0) 100%);
background: linear-gradient(to right, rgba(254,252,234,0) 0%,rgba(52,66,142,1) 50%,rgba(255,255,255,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fefcea', endColorstr='#00ffffff',GradientType=1 );
}

.login_slogan .big{
	font-size:25px;
}

.login_slogan .small{
	font-size:15px;
}

.login_logo_inner{
}
.login_logo_con img{
	padding:8px 20px;
}

.login_logo_con{
	text-align:center;
	margin-bottom:7px;
}

.footer_con_top{
	margin:auto;
	width:100%;
	height:1px;
	min-width:300px;
	background:rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 0px rgba(255, 255, 255, 0.3);
}
body.login .footer_con a:hover{
	color:rgba(0, 0, 0, 0.95);
}
body.login .footer_con a{
	color:rgba(0, 0, 0, 0.7);
	padding:0 10px ;
}
body.login .footer_con{
	float:left;
	width:100%;
	background:rgba(255, 255, 255, 0.06);
	text-align:center;
	font-size:12px;
	color:rgba(0, 0, 0, 0.65);
	text-shadow: 0 1px 0px rgba(255, 255, 255, 0.4);
	line-height:25px;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.1)), color-stop(100%,rgba(255,255,255,0)));
background: -webkit-linear-gradient(top, rgba(255,255,255,0.1) 0%,rgba(255,255,255,0) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,0.1) 0%,rgba(255,255,255,0) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,0.1) 0%,rgba(255,255,255,0) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,0.1) 0%,rgba(255,255,255,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1affffff', endColorstr='#00ffffff',GradientType=0 );
}


.m_content_con{
	float:left;
	width:100%;
	min-height:100px;
	margin:10px 0;
}

.m_content_con_l{
	float:left;
	width:80%;
}

.m_content_con_r{
	float:right;
	width:17%;
	padding-bottom: 10px;
	background:rgba(100,109,150,0.1);
/*	margin-top:80px;*/
}



.m_content_con_r_inner{
	float:left;
	width:100%;
	margin-top:12px;
}
.m_content_con_r_margineer{
	width:90%;
	margin:auto;
}
.rytlist_item:hover{
	color:#777;
}
.rytlist_item{
	border-bottom:solid thin rgba(167,170,183,0.35);
	float:left;
	font-size:12.5px;
	width:100%;
	font-family:com_r;
	padding:3px 0;
	color:#999;
}


.rytlist_item:last-child{
	border:none;
}
.soc_follow_but_con.fb{
	background:#3B5998;
}

.soc_follow_but_con.tw{
	background:#19BFE5;
}

.soc_follow_but_con  span.fa{
	color:#fff;
	font-size:17px;
	float:left;
	line-height:23px;
	margin-left:10px;
}

.soc_follow_but_con .button_con img{
	float:left;
	width:auto;
	cursor:pointer;
	height:100%;
}

.soc_follow_but_con .button_con{
	float:left;
	margin-left:10px;
	width:auto;
	height:23px;
}


.resp_search_mob{
	display:none !important;
}

.resp_search_full{
	display:block  !important;
}

.soc_follow_but_con{
	float:left;
	border-radius:3px;
	padding:4px 6px;
	cursor:default;
	margin:3px 0;
	overflow:hidden;
	width:100%;
}

.content_tabs_con a:hover{
	box-shadow:0 -2px 0px  #8187A5 inset ;
	color:#8187A5;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.content_tabs_con a.current{
	box-shadow:0 -4px 0px  #8187A5 inset;
	color:#8187A5;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.content_grids_con{
	float:left;
	width:100%;
	margin:5px 0;
	background:#f9f9f9;
	min-height:200px;
}

.category_li{
	float: left;
	width: 100%;
	text-align: center;
}


.category_li a{
border-bottom: thin solid #CCC;
padding: 9px 50px;
	box-shadow:none;
font-size: 16px;
display: inline-block;
}

.category_li a:hover{
box-shadow: 0px 6px 5px -4px rgba(0, 0, 0, 0.1);
color:#333 !important;
}


/*
.content_tabs_con a:not(.current):hover {
	box-shadow:0 -2px 0px  #8187A5 inset !important;
}*/

.content_tabs_con a{
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
	padding:15px 50px;
	color:#999;
	display:inline-block;
	font-size:16px;
	text-align:center;
}
.content_tabs_con{
	float:left;
	width:100%;
	text-align:center;
	border-bottom:solid thin #ccc;
	box-shadow: 0px 6px 5px -4px rgba(0, 0, 0, 0.1);
	margin-bottom:10px;
	background: #f2f2f2;
/*margin-top: -10px;*/
}

.footer_con_main_top a:hover{
	color:#fff;
}
.footer_con_main_top a:last-child{
	border:none;
}
.footer_con_main_top a{
	border-right:solid thin #999;
	color:#eee;
	padding:1px 8px;
	margin:3px 0;
	display:inline-block;
}


body.login .footer_con{
	border-top:none;
}

.footer_con_main_top{
	margin-left: 20px;
	width:auto;
	float:left;
	font-size:11px;
	background:rgba(255, 255, 255, 0.06);
	padding: 3px 10px;
}




.footer_con_main_bottom a:hover{
	color:#646D96;
}

.footer_con_main_bottom a{
	color:#7C8093;
	padding:5px 8px;
	margin:2px 0;
	display:inline-block;
}

.footer_con_main_bottom{
	width:100%;
	font-size:13px;
	margin:4px 0;
}

.footer_con_main_bottom{
	width:100%;
	font-size:14px;
	text-align:center;
}

.footer_con{
	background:#fff;
	float:left;
	width:100%;
	border-top:solid thin #CCC;
	text-transform:capitalize;
	text-align:center;
}

.top_icy_set{
	float:right;
margin: 10px 35px 0 10px;
}

.main_a{
	
}

.header_con{
	z-index:99999;
	float:left;
	height:50px;
	position:fixed;
	width:100%;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	border:solid thin rgba(0, 0, 0, 0.1);
	background:#f9f9f9;
}

.header_con .main_a_body_margineer{
	height:inherit;
}
.main_a_body_margineer{
	margin:auto;
	width:70%;
}

.profile_m{
	padding: 3px;
	/*background: #f5f5f5;*/
}

.profile_m_sidep{
	margin-bottom:0 !important;
}
	

.logo_con img{
	float:left;
	height:100%;
	width:auto;
}


.more_marg{
	padding:10px 0;
}
.logo_con{
	float:left;
	width:auto;
	height:45px;
	padding:5px 0;
}

.header_who_pic_con img{
	float:left;
	height:100%;
	width:auto;
	border-radius:100%;
	border:solid thin #CCC  ;
	
}
.header_who_pic_con{
	float:left;
	height:35px;
	margin-top:5px;
}

.header_who_menu_list_popup{
	position:absolute;
	width:170px;
	margin-top:70px;
	right:-5px;
	visibility:hidden;
	border-radius:7px;
	background:#A7A9B7;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
	padding-bottom:15px;
	/*height:50px;*/
}

.header_who_menu_list_popup:before{
  		font-family: 'FontAwesome';
  		content: "\f0d8";
		font-size:35px;
		color:#A7A9B7;
		right:15px;
		margin-top:-17px;
		position:absolute;
}
.header_who_con:hover .header_who_menu_list_popup:before{
		color:#5F668C;
}
.header_who_con:hover .header_who_menu_list_popup{
	margin-top:55px;
	background:#5F668C;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
	visibility:visible;
	/*height:200px;
*/}


.header_who_menu_list_popup .margineer{
	width:85%;
	margin:auto;
}

.header_who_menu_list_popup a:last-child{
	border:none;
}
.header_who_menu_list_popup a:hover{
	color:#f5f5f5;
}
.header_who_menu_list_popup a span{
	float:right;
}

.header_who_menu_list_popup a{
	font-weight:bold;
	font-size:13px;
	line-height:normal;
	padding:5px 0;
	float:left;
	width:100%;
	text-align:left;
	color:#c3c3c3;
	border-bottom:solid thin #6B75A0;
}

.header_who_menu_list_popup .titley{
	margin-bottom:10px;
	float:left;
	width:100%;
	padding-bottom:4px;
	text-align:center;
	color:#FBD322;
	cursor:default;
	font-weight:bold;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	margin-top:10px;
	box-shadow:0 3px 2px  rgba(0, 0, 0, 0.1);
}
.header_who_menu_list_popup_menu{
	float:left;
	width:100%;
}



.header_who_con{
	float:right;
	height:100%;
	position:relative;
}

.header_ics_con_cell a:hover{
	background:rgba(255, 255, 255, 0.25);
}
.header_ics_con_cell_poper{
	position: absolute;
    background: none repeat scroll 0% 0% #CB3434;
    color: #FFF;
    font-size: 9px;
    padding: 1px 3px;
    top: 1px;
    right: -3px;
    line-height: normal;
    border-radius: 4px;
	z-index:500;
}
.header_ics_con_cell a{
	position:relative;
	color:rgb(199, 202, 204);
	color:#C7CACC;
	float:left;
	font-size:25px;
	padding:0 10px;
	height:95%;
	line-height:47px;
}
.header_ics_con_cell{
	float:right;
	height:100%;
	margin-right:15px;
}

.header_ics_con{
	float:right;
	width:auto;
}


.cell_info_hrts_cmm:first-child{
	margin-bottom:7px;
	padding-top: 10px;
}


.cell_info_hrts_cmm{
	float:left;
	width:100%;
	text-align:center;
}

.header_searchbar_inner_con input:focus{
	background:#4E536F;
	color:#ccc;
}
.header_searchbar_inner_con input{
	float:left;
	width:80%;
	margin-top:2px;
	font-size:14px;
	width:200px;
	background:#3B3F57;
	/*border:solid thin #ccc;*/
	border:none;
	/*border-radius:6px;*/
	border-radius:0;
	color:#999;
	padding:5px 35px 5px 10px;
	margin-left:7px;
}


.header_searchbar_inner_con button:hover{
	color:#646D96;
}

#search-panel .header_searchbar_inner_con button{
	margin-top: -1px;
}


.header_searchbar_inner_con button{
	background: none repeat scroll 0% 0% transparent;
	color: #7C8093;
	margin-top: 2px;
	margin-left: -30px;
	border: medium none;
	font-size: 16px;
	height: 35px;
	line-height: 35px;
}

.header_searchbar_inner_con{
	float:left;
/*	height:28px;*/
width: 100%;
	margin-top:8px;
}

.header_searchbar_con_advanced_link_con a:hover{
	color:#646D96;
}
.header_searchbar_con_advanced_link_con a{
	padding:2px 5px;
	color:#7C8093;
	display:none;
	font-size:10px;
}


.side_p_adv_search_lnk{
	float:left;
	width:100%;
	text-align: center;
	border-bottom: thin solid #5B626B;
}

.side_p_adv_search_lnk a{
	color: #C7CACC;
font-size: 10px;
}

.header_searchbar_con_advanced_link_con{
	position:absolute;
	bottom:0px;
	border-radius:6px;
	border:none;
	background:none;
}
.header_searchbar_con{
	float:right;
	height:95%;
	margin-right:15px;
	position:relative;
}

.sid_search{
	margin:0 !important;
}

.panel_search_box{
	width:100% !important;
	background: #2F3247 none repeat scroll 0% 0%;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3) inset;
	margin: 0px  !important;
}

.msgs_search{
	background:#fff !important;
	border:solid thin #ccc !important;
	width:95%  !important;
}

.panel_search_box:focus{
box-shadow: 0 0 1px rgba(0, 0, 0, 1) inset;
}


.main_body_con{
	float:left;
	width:100%;
	margin-top:50px;
	padding-top:10px;
}

.post_box_enter:hover{
	border-color: rgba(255, 255, 255, 0.39);
}
.post_box_enter:focus{
	box-shadow:none;
	color:#fff;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}
.post_button{
	float:right;
line-height: 36px;
margin-left: 5px;
padding: 0 15px;
font-size:14px;
}

.width_half{
	width:50%;
	float:left;
}
.width_full{
	width:100%;
	float:left;
}

.post_area_margineer{
	margin:auto;
	width:60%;
}

.post_bg{
	position: fixed;
	z-index: 9988;
	right: 0px;
	bottom: 0px;
	/*display:none;*/
}


.postarea_post_but.bg_lighter{
	background: rgba(0, 0, 0, 0.7);
	box-shadow: none;
}

.postarea_post_but.bg_o{
	background: rgba(0, 0, 0, 1);
	box-shadow: 0 0 10px #000;
}


.postarea_post_but{
	padding: 4px 13px;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	display: inline-block;
	color: #FFF;
	font-size: 14px;
	cursor: pointer;
}

.postarea_post_but i{
	padding-right: 5px;
}


.post_post_but_row{
	text-align:center;
	float:left;
	width:100%;
}
.post_bg_inner{
	float:left;
	width:100%;
	display:none;
	background: rgba(0, 0, 0, 0.7);
}

.post_act_area{
	/*background:#f8f8f8;*/
	padding:3px;
	float:left;
	width:100%;
	margin: 8px 0;
}


.post_box_enter{
	color:#fff;
	float:left;
	width:100%;
	overflow:auto;
	padding:10px;
	font-size:14px;
	height:65px;
	max-height:100px;
	max-width:100%;
	border: none;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.09) inset;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
	background: rgba(255, 255, 255, 0.35);
	line-height: 16px;
}

.upload_med_button:hover{
	color:rgba(100, 109, 150, 0.4);
}
.upload_med_button{
	cursor:pointer;
	padding:3px;
	position:absolute;
	top:3px;
	font-size:18px;
	right:5px;
	color:rgba(0, 0, 0, 0.28);
}

.post_box_upload_box_button_row{
	float:left;
	width:100%;
	margin-top:4px;
}


.post_box_upload_box img.noimg{
	border: solid 2px #ccc;
}

.post_box_upload_box img{
	float:left;
	height:100%;
	width:auto;
}
.post_box_upload_box .close:hover{
	color:rgba(0, 0, 0, 1);
}
.post_box_upload_box .close{
	position:absolute;
	top:3px;
	cursor:pointer;
	font-size:15px;
	right:10px;
	color:rgba(0, 0, 0, 0.8);
}
.post_box_upload_box .text{
	width: 70%;
	float: left;
font-size: 14px;
color: #666;
margin: 8px 0px 0px 14px;
}
	
.post_box_upload_box{
	position:relative;
	float:left;
	width:100%;
	height:60px;
	margin-top:5px;
	background:#f2f2f2;
}
.post_box_con{
	position:relative;
	float:left;
	width:100%;
}
.post_button_row a{
	float:left;
}
.post_button_row{
	float:left;
	width:100%;
}

.notif_area{
	float:left;
	width:100%;
}


.notif_sp.info:before{
		color:#D9EDF7;
		text-shadow: 0 -1px 0px #BCE8F1 ;
}
 
.notif_sp.info{
color: #31708F;
background-color: #D9EDF7;
border-color: #BCE8F1;
border-radius:4px;
}

.notif_sp:before{
	font-family: 'FontAwesome';
  		content: "\f0d8";
		font-size:35px;
		color:#A7A9B7;
		left:15px;
		margin-top:-33px;
		position:absolute;
}
.notif_sp{
	position:relative;
}

.notif_sp span.close{
	float:right;
	cursor:pointer;
	padding:3px;
}


.notif_sp{
	margin:5px 0;
	font-size:13px;
	float:left;
	width:100%;
	padding:10px  15px;
	border:solid thin;
}


/**
 * Progress bar for imagesLoaded
 */
.progress-bar {
  background-color: #0BC20B;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 0;
  -webkit-box-shadow: 0 1px 3px rgba(11, 194, 11, 0.2);
     -moz-box-shadow: 0 1px 3px rgba(11, 194, 11, 0.2);
          box-shadow: 0 1px 3px rgba(11, 194, 11, 0.2);
  -webkit-transition: width 0.1s ease-out;
     -moz-transition: width 0.1s ease-out;
       -o-transition: width 0.1s ease-out;
          transition: width 0.1s ease-out;
}

.grid_top .when a{
	color:;
}
.grid_top .when {
	float:right;
	font-size:11px;
	color:#999;
	padding-left:10px;
	cursor:default;
	border-left: solid thin #999;
}

.grid_top .cat a:hover{
	color:#505576;
}

.grid_top .cat a{
	float:left;
	color:#5F668C;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}

.load_more_con a:hover{
	margin-top:-3px;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

.load_more_con a{
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
	transition: all 0.3s linear 0s;
	color: #EEE;
	font-size: 16px;
	position: relative;
	display: inline-block;
	background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.7);
	/*box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.55);*/
	padding: 10px 40px;
	
	
}
.load_more_con{
	position:relative;
	float:left;
	height: 40px;
	text-align:center;
	width:100%;
	margin:5px 0;
}

.grid_text_margineer{
	margin:auto;
	width:95%;
}

.grid_textcontent a:hover{
	color:#333;
}

.grid_textcontent a{
	font-size:13px;
	color:#5F5F5F;
}
.grid_textcontent{
	float:left;
	margin:5px;
	font-size:13px;
	color:#5F5F5F;
}

.grid_top{
	padding:4px 2px;
	float:left;
	width:100%;
	background:#f3f3f3;
}

.grip_u_pic_con img{
	float:left;
	width:auto !important;
	height:100% !important;
	border-radius:100%;
	border:solid thin rgba(0, 0, 0, 0.1);
}

.grid_det_bottom{
	border-top:solid thin rgba(255, 255, 255, 0.07);	
	float:left;
	width:100%;
	padding:5px 0;
}

.grip_u_pic_con{
	float:left;
	width:30px;
	margin-right:10px;
	height:30px;
}

.grid_det_bottom .who a:hover{
	text-decoration:underline;
}
.grid_det_bottom_text{
	float:left;
	width:75%;
}
.grid_det_bottom_text .who a{
	float:left;
	font-size:12px;
	color: #A8ABAD;
clear: right;
margin-top: 5px;
}
.grid_det_bottom_text .prof{
	float:left;
	width:100%;
	font-size:11px;
	margin-top:2px;
	cursor:default;
	color:#666;
	clear:right;
}



.notif_pic_con img{
	float:left;
	width:100%;
	height:100%;
	border-radius:100%;
	border: solid thin rgba(255, 255, 255, 0.25);
}

.notif_msg_row{
	color:#ddd;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
}

.notif_cntct_req i{
	display:none;
	position:absolute;
	right:3px;
}
.notif_cntct_req:hover i{
	display:inline-block;
}

.notif_cntct_req{
	line-height:normal;
	position:relative;
	background-color:#FBD322;
	cursor:pointer;
	padding:4px 3px;
	font-size:11px;
	color:#8F6503 !important;
	border:solid thin;
	border-color:#D6B003;
	float:left;
	width:100%;
	text-align:center;
}

.notif_cntct_req:first-child{
	border-bottom:none;
}
.notif_cntct_req:last-child{
	border-top:none;
}
.notif_cntct_req_margineer{
	margin:auto;
	width:80%;
	margin-bottom:4px;
}

.notf_text i{
	float:right;
	margin-right:-10px;
}

.notf_text{
	padding-top: 3px;
	padding-right:5px;
	min-height: 23px;
	display: inline-block;
	width: 70%;
}
.notif_pic_con{
	float:left;
	width:25px;
	margin-right:5px;
	height:25px;
}

.notif_cell:hover{
	background: rgba(255, 255, 255, 0.25);
}
.notif_cell{
	padding:5px 0;
}

.notif_p_content{
	float:left;
	width:100%;
	margin-top:20px;
}


.panel_slide_srch .notf_text{
	padding-top:8px !important;
}


.panel_slide_post .notf_text{
	width:100% !important;
}


.panel_slide_share_con .notf_text{
	width:100% !important;
	text-align:center !important;
}

.panel_slide_share_con input[type="text"], .panel_slide_share_con textarea{
	background:#CCC;
	border:none;
}
.panel_slide_share_con textarea{
	min-height: 70px;
	max-height: 100px;
	height: auto;
	  font-size: 12px;
  line-height: 22px;
  margin-bottom: 8px;
  }
.panel_slide_share_con .notf_text i {
    float:none;
    margin-right: 7px;
}

.see_more-wide{
	float:left;
	width:100%;
	text-align:center;
	margin:5px 0;
}
 

.see_more-wide a:hover{
	text-decoration:underline;
}

.see_more-wide a{
	color:#FBD322;
	font-size:11.5px;
	padding:0 5px;
}
 
.notif_p_content .titley{
	float:left;
	width:100%;
	padding-bottom:4px;
	text-align:center;
	color:#FBD322;
	cursor:default;
	font-weight:bold;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	margin-top:10px;
	box-shadow:0 3px 2px  rgba(0, 0, 0, 0.1);
}

.notif_p_margineer{
	margin:auto;
	width:95%;
}

.notif_logo_con img{
	height:100%;
	width:auto;
}

.notif_logo_con{
	float:left;
	height:30px;
	text-align:center;
	width:100%;
}

    .notif-panel, .msg-notif-panel{
		overflow:auto;
		display:none;
      width: 220px;
      padding: 15px;
    /*  background: #646D96;*/
	  background: #404563;
      color: #fff;
      box-shadow: -10px 0px 12px rgba(0, 0, 0, 0.3), -5px 0px 20px rgba(0, 0, 0, 0.3);
    }
	
.notif_msgs_list font{
font-size:11px !important;
width:100%;
}
/**
 * Placerholder css
 */
.wookmark-placeholder {
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  background-color: #eee;
  border: 1px solid #dedede;
  z-index: -1;
}

/**
 * Grid container
 */
 

.tiles-wrap {
  position: relative; /** Needed to ensure items are laid out relative to this container **/
  margin: 10px 0;
  padding: 0;
  list-style-type: none;
  display: none;
}


/**
 * Grid items
 */
.tiles-wrap li {
  display: block;
  opacity: 1;
  list-style-type: none;
  background-color: #fff;
  float: left;
  width: 200px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.12);
     -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.12);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.tiles-wrap.animated li {
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

.tiles-wrap li.wookmark-inactive {
  visibility: hidden;
  opacity: 0;
}

.fullscreen_block .blogpost_preview_fw:hover {
 /* background-color: #fafafa;*/
}

.tiles-wrap img {
  display: block;
}
/*
.tiles-wrap a {
  color: #555;
  text-align: center;
 display: table-cell; 
  width: 200px;
  height: 200px;
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
}
*/
.tile-loading:after {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #ddd;
  content: "Loading\2026";
  padding-top: 20px;
  color: #999;
}


 .tiles-wrap li {
      -moz-box-sizing: border-box;
           box-sizing: border-box;
    }

.like_botton.liked, .user_added_yes, .video_grid_play:hover, .video_grid_play:active{
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZmN2FhYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1ODYwODkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(111,122,170,1) 0%, rgba(88,96,137,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(111,122,170,1)), color-stop(100%,rgba(88,96,137,1)));
	background: -webkit-linear-gradient(top, rgba(111,122,170,1) 0%,rgba(88,96,137,1) 100%);
	background: -o-linear-gradient(top, rgba(111,122,170,1) 0%,rgba(88,96,137,1) 100%);
	background: -ms-linear-gradient(top, rgba(111,122,170,1) 0%,rgba(88,96,137,1) 100%);
	background: linear-gradient(to bottom, rgba(111,122,170,1) 0%,rgba(88,96,137,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6f7aaa', endColorstr='#586089',GradientType=0 );
	text-shadow:0 -1px 0px #2C345B;
	color:#E8EEFF;
	border:solid thin #49527F;
}

.like_botton.liked:hover .like_botton.user_added_yes:hover{
/*background: #707AA8;*/
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc4ODJiMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1ZjY4OTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(120,130,176,1) 0%, rgba(95,104,149,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(120,130,176,1)), color-stop(100%,rgba(95,104,149,1)));
background: -webkit-linear-gradient(top, rgba(120,130,176,1) 0%,rgba(95,104,149,1) 100%);
background: -o-linear-gradient(top, rgba(120,130,176,1) 0%,rgba(95,104,149,1) 100%);
background: -ms-linear-gradient(top, rgba(120,130,176,1) 0%,rgba(95,104,149,1) 100%);
background: linear-gradient(to bottom, rgba(120,130,176,1) 0%,rgba(95,104,149,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7882b0', endColorstr='#5f6895',GradientType=0 );
}

.like_botton.notliked, .notadded, .video_grid_play, .gall_default, .del_button{
background: rgb(228,228,228);
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U0ZTRlNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjNGM0YzQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(228,228,228,1) 0%, rgba(196,196,196,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(228,228,228,1)), color-stop(100%,rgba(196,196,196,1)));
background: -webkit-linear-gradient(top, rgba(228,228,228,1) 0%,rgba(196,196,196,1) 100%);
background: -o-linear-gradient(top, rgba(228,228,228,1) 0%,rgba(196,196,196,1) 100%);
background: -ms-linear-gradient(top, rgba(228,228,228,1) 0%,rgba(196,196,196,1) 100%);
background: linear-gradient(to bottom, rgba(228,228,228,1) 0%,rgba(196,196,196,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e4', endColorstr='#c4c4c4',GradientType=0 );
border:solid thin #555;
color:#666;
text-shadow: 0 1px 0px #fff;
}

.like_botton.notliked:hover, .notadded:hover, {
	opacity:0.9;
background: rgb(239,239,239);
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmZWZlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjZmNmY2YiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(207,207,207,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,239,239,1)), color-stop(100%,rgba(207,207,207,1)));
background: -webkit-linear-gradient(top, rgba(239,239,239,1) 0%,rgba(207,207,207,1) 100%);
background: -o-linear-gradient(top, rgba(239,239,239,1) 0%,rgba(207,207,207,1) 100%);
background: -ms-linear-gradient(top, rgba(239,239,239,1) 0%,rgba(207,207,207,1) 100%);
background: linear-gradient(to bottom, rgba(239,239,239,1) 0%,rgba(207,207,207,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#cfcfcf',GradientType=0 );
}



.like_botton, .video_grid_play, .add_contact_button, .share_gal_button, .del_button{
	z-index: 88888;
	display:none;
	position:absolute;
	border-radius:4px;
	color:;
	padding:5px 10px;
	font-size: 15px;
	opacity:0.8;
	text-align:center;
	box-shadow:0 0 5px rgba(0, 0, 0, 0.5);
	top:10px;
}
.del_button{
	right:115px;
}
.like_botton{
	right:20px;
}
.video_grid_play{
	right:67px;
	font-size:12px;
}

.add_contact_button, .share_gal_button{
	right:68px !important;	
}

.grid_details_ic_block{
	float:right;
	margin-left:10px;
}
.grid_details_ic_con{
	bottom:0;
	width:100%;
	position:absolute;
	background: rgba(255, 255, 255, 0.4);
	padding:2.5px 0;
	color:#363E60;
	font-size:11px;
}

.fullscreen_block .blogpost_preview_fw:hover .del_button, .fullscreen_block .blogpost_preview_fw:hover .like_botton, .fullscreen_block .blogpost_preview_fw:hover .add_contact_button, .fullscreen_block .blogpost_preview_fw:hover .video_grid_play, .fullscreen_block .blogpost_preview_fw:hover .share_gal_button,  .fullscreen_block ,

#magnific_video_pop_inline_html_video:hover .share_gal_button, #magnific_video_pop_inline_html_video:hover .like_botton,  #magnific_video_pop_inline_html_video:hover .del_button,  

#magnific_video_pop_inline_iframe:hover .share_gal_button, #magnific_video_pop_inline_iframe:hover .like_botton,  #magnific_video_pop_inline_iframe:hover .del_button, 

#magnific_video_pop_inline_image:hover .share_gal_button, #magnific_video_pop_inline_image:hover .like_botton, #magnific_video_pop_inline_image:hover .del_button, 

.blog_post_page.blog_post_preview:hover .like_botton, .blog_post_page.blog_post_preview:hover .add_contact_button, .blog_post_page.blog_post_preview:hover .del_button{
	display:block;
}

 #magnific_video_pop_inline_html_video .share_gal_button, #magnific_video_pop_inline_html_video .like_botton, #magnific_video_pop_inline_html_video .del_button,  
 #magnific_video_pop_inline_iframe .share_gal_button, #magnific_video_pop_inline_iframe .like_botton,  #magnific_video_pop_inline_iframe .del_button,  
 #magnific_video_pop_inline_image .share_gal_button, #magnific_video_pop_inline_image .like_botton, #magnific_video_pop_inline_image .del_button{
	     top: 27px /* !important*/;
 }
.grid_img_con video{
	width:100% !important;
	height:auto !important;
}

.video_grid{
	padding-bottom:20px;
/*	background:rgba(0, 0, 0, 0.8) !important;*/
}


.single_media_con .but_toggler{
	display:block   !important;
	top: 97px !important;
}


.grid_img_con{
/*		box-shadow: 0 0 3px  rgba(0, 0, 0, 0.8) inset;*/
		float:left;
		width:100%;
		background:#f4f4f4;
		position:relative;
}

.tiles-wrap li img:hover {
	opacity:0.9;
}
.tiles-wrap li img {
  width: 100%;
  height: auto;
}


.itoast-main-container.theme-urbanq .itoast-inner-container {
    background: #646D96;
    opacity: .9;
    color: white;
	font-size:12px;
	border-radius:0;
	padding:5px;
}


.video_grid_overlay span{
	color:#fff;
	font-size:35px;
	margin:auto;
	margin-top:20%;
	text-align:center;
	text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
	width:100%;
}

.video_grid_overlay:hover{
	opacity:0.4;
}
	
.video_grid_overlay{
	background:rgba(255, 255, 255, 0.5);
	position:absolute;
	top:0;
	left:0;
	width:100%;
	z-index:66666;
	height:100%;
	opacity:0.6;
}


@media (max-width:1366px){
	
}

@media (max-width:1280px){
	
.login_marginer{
	margin-top:170px;
}


}

@media (max-width: 1200px) {
	
.soc_follow_but_con  span.fa{
	display:none !important;
}

}

@media (max-width: 992px) {
	

.main_a_body_margineer{
	margin:auto;
	width:90%;
}

.login_marginer{
	margin-top:170px;
	width:425px;
	min-height:300px;
}

body.login .footer_con{
	line-height:20px;
}


}

@media (max-width: 760px) {
	
	
.top_icy_set {
    float: right;
    margin: 10px 65px 7px 10px;
}

	
.footer_con_main_top{
	width:100%;
	text-align:center;
	margin:0;
	margin:10px 0;
}
	
.but_logo img{
	float:none;
}

.but_logo{
	width:100%;
	text-align:center;
}

	
	.m_content_con_l{
		width:100%;
	}
	
.soc_follow_but_con:last-child{
	float:right;
}
.soc_follow_but_con{
	width: 49%;
	margin-top: 10px;
}
	.m_content_con_r{
		width:100%;
	}
	.rytlist_item:last-child {
		border-bottom:thin solid rgba(167, 170, 183, 0.35);
		border-right:none;
	}
	.rytlist_item {
		width:33.3%;
		text-align:center;
		border-right: thin solid rgba(167, 170, 183, 0.35);
	}
	
}

@media (max-width:640px){

.grid_det_bottom_text {
width: 50%;
}

.resp_search_mob{
	display:inline-block  !important;
}

.resp_search_full{
	display:none  !important;
}

.login_marginer{
	margin-top:150px;
}


body.login .footer_con{
	font-size:11px;
}

}

@media (max-width:512px){


.add_contact_button, .like_botton, .share_gal_button{
	display:block;
}






}

@media (max-width:480px){
	.content_tabs_con a {
    padding: 15px 0px;
    width: 48%;
}
	
	.rytlist_item:last-child {
		border-bottom:none;
	}
	.rytlist_item {
		width:100%;
		text-align:center;
		border-right:none;
		border-bottom: thin solid rgba(167, 170, 183, 0.35);
	}
	
	
	.header_who_pic_con {
    height: 30px;
    margin-top: 8px;
}
	.logo_con {
    width: 80px;
    height: auto;
	margin-top: 8px;
}

.logo_con img {
    height: auto;
    width: 100%;
}


.header_ics_con_cell a{
	font-size:19px;
}
.login_marginer{
	margin-top:100px;
	width:80%;
}
.log_sign_function_button{
	width:100%;
}

.log_sign_function_button_row .or{
	display:inline-block;
	padding:5px 0;
}


}

@media (max-width:320px){
	
	
	
.single_media_con .but_toggler{
	top: 110px !important;
}
	
	
}