.strip-item .strip-text img.def,img.logo_def {
  display: block;
}

.strip-item .strip-text img.retina,img.logo_retina {
  display: none;
}

@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-resolution:144dpi) {
  .strip-item .strip-text img.def,img.logo_def {
    display: none!important;
  }
	
  .strip-item .strip-text img.retina,img.logo_retina {
    display: block!important;
  }
/*ogonna chukwuna*/
  .beforeAfter_wrapper .result_line,.comment_box:before,.fs_controls_append a.fs_close:before,.fs_controls_append a.fs_pause:before,.fs_controls_append a.fs_play:before,.fs_controls_append a.fs_slider_next:before,.fs_controls_append a.fs_slider_prev:before,.fs_controls_append a.post_info:before,.mfp-arrow,.mfp-close:before,.shortcode_messagebox .box_close,.shortcode_messagebox.box_type2 .box_close,.shortcode_messagebox.box_type3 .box_close,.shortcode_messagebox.box_type4 .box_close,.shortcode_messagebox.box_type5 .box_close,.socials_list li a.ico_social_delicious,.socials_list li a.ico_social_dribbble,.socials_list li a.ico_social_facebook,.socials_list li a.ico_social_flickr,.socials_list li a.ico_social_gplus,.socials_list li a.ico_social_instagram,.socials_list li a.ico_social_linked,.socials_list li a.ico_social_pinterest,.socials_list li a.ico_social_tumblr,.socials_list li a.ico_social_twitter,.socials_list li a.ico_social_vimeo,.socials_list li a.ico_social_youtube,.testimonials_text:before,a.close_controls:before {
    background-image: url(../img/retina/soho_sprite.png)!important;
    background-size: 240px 35px!important;
  }
}

@media only screen and (min-width:1400px) and (max-width:1700px) {
  .is_wheel #whaterwheel,.whaterWheel_content.is_wheel {
    height: 350px;
  }

  .is_wheel .ww_block img {
    margin: 10px 0 0 10px;
  }

  .is_wheel .ww_block {
    width: 350px;
    height: 350px;
  }

  .is_wheel .ww_block img {
    width: 340px;
    height: 340px;
  }
}

@media only screen and (min-width:960px) and (max-width:1200px) {
  header.main_header .phone,header.main_header .socials {
    display: none;
  }

  #map-canvas,.contacts_map,.contacts_map .map_block,.map_block #map-canvas {
    max-height: 400px;
  }

  #map_section {
    height: 400px;
  }

  .left-sidebar-block,.right-sidebar-block {
    width: 220px;
  }

  .left-sidebar-block {
    margin-right: 20px;
    padding-right: 19px;
  }

  .right-sidebar-block {
    margin-left: 20px;
    padding-left: 19px;
  }

  .fl-container.hasRS,.posts-block.hasLS {
    width: 680px;
  }


  .blogpost_share a {
    margin-right: 4px;
  }

  .columns2 .portfolio_item .portfolio_item_block,.columns3 .portfolio_item .portfolio_item_block,.columns4 .portfolio_item .portfolio_item_block {
    margin: 20px 0 0 20px;
  }

  .portfolio_block.columns2,.portfolio_block.columns3,.portfolio_block.columns4 {
    margin: -20px 0 0 -20px;
  }

  .landing_logo2 {
    transform: scale(.75,.75);
    -webkit-transform: scale(.75,.75);
  }

  .wrapper404 {
    width: 940px;
    margin: 0 auto;
  }

  .wrapper404 h1,.wrapper404 h1 span {
    font-size: 80px;
    line-height: 82px;
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  .wrapper404 h1 span {
    font-weight: 300;
  }

  .text404 {
    margin: 0 0 28px;
  }

  .count_container,.notify_text {
    width: 940px;
  }

  .count_title h1 {
    padding-left: 10px;
    letter-spacing: 10px;
  }

  .countdown-amount {
    font-size: 80px;
    line-height: 84px;
    padding: 0 44px 0 55px;
    letter-spacing: 11px;
  }

  .countdown-period {
    letter-spacing: 3px;
  }

  #mc_s_fm_txt_b {
    width: 150px!important;
  }

  #s_row_fm_submit {
    width: 70px!important;
  }
}

@media only screen and (min-width:760px) and (max-width:960px) {
 
  .main_header nav ul.menu>li {
    margin-left: 20px;
  }

  .main_header nav ul.menu .sub-menu {
    width: 180px;
    margin-left: -90px;
  }

  .main_header nav ul.sub-menu li a:before {
    width: 140px;
  }

  .main_header nav ul.menu>li:last-child>.sub-menu>li>.sub-menu,.main_header nav ul.menu>li:nth-last-child(2)>.sub-menu>li>.sub-menu,.main_header nav ul.menu>li:nth-last-child(3)>.sub-menu>li>.sub-menu {
    left: -180px;
    margin-left: 0;
  }

  .main_header nav ul.menu>li>.sub-menu>li>.sub-menu {
    left: 180px;
  }

  .main_header nav ul.menu>li>.sub-menu>li>.sub-menu>li>.sub-menu {
    left: auto;
    right: 180px;
    margin: 0;
  }

  .main_header nav ul.menu>li:last-child>.sub-menu {
	left: -26px;
	right: 0px;
	margin-left: 0px;

  }

  .main_header .menu>li:hover>.sub-menu>li>.sub-menu {
    top: -999px!important;
    opacity: 0!important;
    visibility: hidden!important;
  }

  .main_header ul.menu>li:hover>.sub-menu>li:hover>.sub-menu,.main_header ul.menu>li:hover>.sub-menu>li:hover>.sub-menu>li:hover>.sub-menu {
    top: -1px!important;
    opacity: .999!important;
    visibility: visible!important;
  }

  #map-canvas,.contacts_map,.contacts_map .map_block,.map_block #map-canvas {
    max-height: 400px;
  }

  #map_section {
    height: 400px;
  }

  .left-sidebar-block,.right-sidebar-block {
    width: 164px;
  }

  .left-sidebar-block {
    margin-right: 10px;
    padding-right: 9px;
  }

  .right-sidebar-block {
    margin-left: 10px;
    padding-left: 9px;
  }

  .fl-container.hasRS,.posts-block.hasLS {
    width: 540px;
  }

  footer.main_footer .copyright {
    display: block;
    float: left;
    padding: 15px 0 16px 28px;
  }

  footer.main_footer .phone {
    display: none;
  }

  footer.main_footer .phone_ipad {
    display: block;
    float: right;
    padding: 15px 28px 16px 0;
  }

  footer.main_footer .socials {
    float: left;
    display: block;
    padding: 0 0 16px;
    text-align: center;
    overflow: hidden;
    width: 100%;
  }

  footer.main_footer .socials ul {
    margin: 0 auto;
    width: auto;
    display: inline-block;
    overflow: hidden;
  }

  .landing_logo {
    transform: scale(.75,.75);
    -webkit-transform: scale(.75,.75);
  }

  .landing_logo2 {
    transform: scale(.6,.6);
    -webkit-transform: scale(.6,.6);
  }

  .strip-landing .strip-item .strip-text {
    max-width: 70%;
    transform: translateX(40px);
    -webkit-transform: translateX(40px);
  }

  .strip-landing .strip-item:first-child .strip-text {
    transform: translateX(-40px);
    -webkit-transform: translateX(-40px);
  }

  .strip-template .strip-item .strip-text h1 {
    letter-spacing: 6px;
    font-size: 18px;
  }

  .fs_controls {
    height: 41px;
  }

  .fs_controls .share_toggle {
    padding: 11px 21px 15px 20px;
  }

  .fs_controls .title_wrapper {
    padding-left: 21px;
  }

  .fs_controls .fs_descr,.fs_controls .fs_title,.fs_controls .fs_title_main {
    padding-top: 11px;
  }

  .fs_likes {
    bottom: 85px;
  }

  .share_box a {
    width: 41px;
    height: 41px;
    line-height: 41px;
  }

  .share_box a.share_facebook {
    left: 0;
  }

  .share_box a.share_pinterest {
    left: 41px;
  }

  .share_box a.share_tweet {
    background: #76cbce;
    left: 82px;
  }

  .share_box a.share_gplus {
    background: #db7777;
    left: 123px;
  }

  .show_share .share_box {
    width: 164px;
  }

  .fs_controls_append a,.show_me_always {
    width: 41px;
    height: 41px;
  }

  .show_me_always.in_post {
    right: 41px;
  }

  .fs_controls_append a:before,.show_me_always:before {
    transform: scale(.75,.75);
    -webkit-transform: scale(.75,.75);
  }

  .wrapper404 {
    width: 724px;
    margin: 0 auto;
  }

  .wrapper404 h1,.wrapper404 h1 span {
    font-size: 60px;
    line-height: 62px;
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  .wrapper404 h1 span {
    font-weight: 300;
  }

  .text404 {
    margin: 0 0 28px;
  }

  .featured_items .item_list {
    margin: -20px 0 0 -20px;
  }

  .featured_items .item_list li {
    margin-top: 20px;
  }

  .featured_items .item_list li .item {
    margin: 0 0 0 20px;
  }

  .list-of-images {
    margin: -20px 0 0 -20px;
  }

  .list-of-images .gallery_item {
    margin: 20px 0 0;
  }

  .list-of-images .gallery_item .gallery_item_padding {
    padding: 0 0 0 20px;
  }

  .module_team ul {
    margin: -20px 0 0 -20px;
  }

  .module_team ul li {
    padding: 20px 0 0;
  }

  .module_team ul li .item_wrapper {
    padding: 0 0 0 20px;
  }

  .module_diagramm ul.skills_list {
    margin-left: -20px;
  }

  .module_diagramm .skill_wrapper {
    margin: 0 0 0 20px;
  }


  .blogpost_share a {
    margin-right: 4px;
  }

  .columns2 .portfolio_item .portfolio_item_block,.columns3 .portfolio_item .portfolio_item_block,.columns4 .portfolio_item .portfolio_item_block {
    margin: 20px 0 0 20px;
  }

  .portfolio_block.columns2,.portfolio_block.columns3,.portfolio_block.columns4 {
    margin: -20px 0 0 -20px;
  }

  .preview_type1 .preview_content,.preview_type1 .preview_image {
    padding: 0 10px 0 0;
  }

  .preview_type1 .preview_content {
    padding: 0 0 0 10px;
  }

  .module_blog .preview_type2 .preview_title {
    max-width: 90%;
  }

  .portfolio_block.columns1 {
    margin-top: -30px!important;
	float: left;
	width: 100%;
  }

  .portfolio_block.columns1 .element {
    margin-top: 30px;
  }

  .portfolio_block.columns1 .portfolio_item_img {
    padding-right: 10px;
  }

  .portfolio_block.columns1 .portfolio_dscr {
    padding-left: 10px;
  }

  .show_content .fs_controls {
    transform: translate(0,41px);
    -webkit-transform: translate(0,41px);
    z-index: 104;
  }

  .port_content .contnt_block {
    padding-top: 82px;
  }

  .show_content .port_content {
    z-index: 103;
  }

  #mc_s_fm_txt_b {
    width: 164px!important;
    border: 1px solid #c8c9cc!important;
  }

  #s_row_fm_submit {
    border-radius: 0!important;
    margin-top: 2px!important;
  }

  .widget_flickr .flickr_badge_image {
    width: 50%;
  }

  .count_title h1 {
    font-size: 28px;
    padding-left: 5px;
    letter-spacing: 5px;
  }

  .count_container,.notify_text {
    width: 742px;
  }

  .countdown-amount {
    font-size: 60px;
    line-height: 64px;
    padding: 0 24px 0 35px;
    letter-spacing: 11px;
  }

  .countdown-period {
    letter-spacing: 3px;
  }

  .countdown-section {
    margin: 0;
  }
}

@media only screen and (min-width:760px) and (max-width:1025px) {
  .author_ava {
    display: none!important;
  }

  .fw_background iframe {
    position: static!important;
    top: auto!important;
    left: auto!important;
    width: 100%!important;
    display: block!important;
    margin: 0!important;
  }

  .mobile-hover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 33;
  }
}

@media only screen and (min-width:760px) {
  .mobile_menu_wrapper {
    display: none!important;
  }
}

.menu_toggler {
  display: none!important;
}


@media (max-width:1280px){	


.grid_small_set{
	width:50% !important ;
}

}


@media only screen and (max-width:960px) {
	
  .all_heads_cont {
    overflow:auto;
	max-height:100px;
	float: left;
	width: 100%;
  }
	 header .phone,header .socials {
    display: none;
  }

	 header.main_header .phone,header.main_header .socials {
    display: none;
  }
  

.shortcode_tab_item_title {
	float:left;
	width:100%;
}



@media only screen and (max-width:760px) {
	.post_box_enter{
		height:90px !important;
	}
	
	
	.post_area_margineer{
		width:90%  !important;
	}
	
#magnific_video_pop_inline{
	width:95%;
	height:370px;
}
.widj_res_disp{
	display:none;
}

.widj_res_ap{
	display:block;
}

	.widget_flickr .flickr_badge_image {
    width: 10%;
	}
	.fl-container.hasRS{
		width:100% !important;
	}

  .header_wrapper .phone,.header_wrapper .socials,.header_wrapper nav {
    display: none;
  }

  .fixed_header {
    position: absolute;
  }

  .logo {
	  	padding: 15px 10px 14px 8px;
		height: 40px;
  }

  .logo img {
    transform: scale(.75,.75);
    -webkit-transform: scale(.75,.75);
  }

  .menu_toggler:before{
  		font-family: 'FontAwesome';
  		content: "\f0c9";
		font-size: 23px;
		color: #FFD777;
		right: 0px;
		margin-top: 7px;
		position: absolute;
}
  
  
  .menu_toggler {
    width: 25px;
    height: 35px;
    display: block !important;
    position: absolute;
    background-size: 240px 35px;
    right: 25px;
    top: 17px;
  }

  .mobile_menu_wrapper {
    position: relative;
  }

  .header_filter {
    padding-top: 10px;
    margin-bottom: 15px;
  }

  ul.mobile_menu {
    padding: 0 20px;
    list-style: none;
  }

  ul.mobile_menu li:before {
    display: none;
  }

  ul.mobile_menu {
    font-size: 0;
    line-height: 0;
    margin: 0;
    padding-bottom: 30px;
    position: relative;
    z-index: 111;
  }

  ul.mobile_menu li {
    display: block;
    position: relative;
    vertical-align: top;
    padding: 0;
    margin: 0;
  }

  ul.mobile_menu li a {
    padding: 0!important;
    margin: 13px 0 0;
    text-transform: uppercase;
    font-weight: 400;
    display: block;
    overflow: hidden;
    position: relative;
  }

  ul.mobile_menu>li.opened>a:before,ul.mobile_menu>li>a:before {
    display: none;
  }

  .mobile_menu li.menu-item-has-children>a:after {
    content: "\f107";
    font-family: FontAwesome;
    font-size: 11px;
    padding-left: 5px;
  }

  ul.mobile_menu .sub-menu {
    padding: 0;
    margin: 10px 0 10px 20px;
    display: block;
    position: relative;
  }

  ul.mobile_menu .sub-menu:before {
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    left: 2px;
    top: 0;
    display: block;
  }

  .mobile_menu ul.sub-menu li {
    text-align: left;
    position: relative;
    padding: 0;
  }

  .mobile_menu ul.sub-menu li>a {
    margin: 9px 0 0 3px;
    padding-left: 16px;
  }

  .mobile_menu ul.sub-menu>li:first-child>a {
    margin: 0 0 0 3px;
  }

  ul.mobile_menu>li>ul.sub-menu>li>ul.sub-menu>li:last-child>a {
    padding-bottom: 3px;
  }

  ul.mobile_menu>li>ul.sub-menu>li:last-child>a {
    margin-bottom: 3px;
  }

  .mobile_menu ul.sub-menu li:before {
    content: '';
    width: 7px;
    height: 1px;
    position: absolute;
    left: 3px;
    top: 7px;
    padding: 0;
    display: block;
  }

  footer.main_footer .copyright {
    padding: 14px 0 16px;
    float: none;
    text-align: center;
    display: block;
  }

  footer.main_footer .phone,footer.main_footer .socials {
    display: none;
  }

  #map-canvas,.contacts_map,.contacts_map .map_block,.map_block #map-canvas {
    max-height: 150px;
  }

  #map_section {
    height: 150px;
  }

  .left-sidebar-block,.right-sidebar-block {
    width: 100%;
    margin-left: 0;
    border: none;
    border-top: 1px solid;
    padding: 40px 0 0;
    height: auto!important;
  }


  .blogpost_share a {
    margin-right: 4px;
  }

  .blog_post_preview .middot {
    padding: 0 2px 0 5px;
  }

  .blogpost_footer {
    margin-top: 20px;
  }

  blockquote.left,blockquote.right,blockquote.shortcode_blockquote {
    float: none;
    width: 100%;
  }

  .module_cont {
    padding-bottom: 40px!important;
  }

  .module_cont.empty_module {
    padding-bottom: 0!important;
  }

  .module_cont .bg_title {
    padding-bottom: 10px;
    font-size: 0;
    line-height: 0;
  }

  .counter_body {
    width: 100%;
  }

  .featured_items .item_list {
    margin: -30px 0 0;
  }

  .featured_items .item_list li {
    width: 100%;
    margin-top: 30px;
  }

  .featured_items .item_list li .item {
    margin: 0;
  }

  .list-of-images .gallery_item {
    width: 100%!important;
    margin: 20px 0 0;
  }

  .list-of-images {
    margin-top: -20px;
  }

  .promoblock_wrapper .promo_button_block,.promoblock_wrapper .promo_text_block {
    float: none;
    display: block;
    width: 100%;
  }

  .promoblock_wrapper .promo_button_block {
    text-align: center;
    padding-top: 10px;
  }

  .promoblock_wrapper .promo_text_block h3.promo_title {
    font-size: 18px;
    line-height: 20px;
  }

  .module_team ul {
    margin: -30px 0 0;
  }

  .teamslider li {
    width: 100%!important;
    margin: 0;
    padding: 30px 0 0;
  }

  .module_team ul li .item_wrapper {
    padding: 0;
  }

  .all_head_sizer {
    overflow: hidden;
	float:left;
	width:100%;
  }

  .testimonials_list li .item .testimonials_photo {
    width: 48px;
    height: 48px;
    margin-top: -24px;
  }

  .testimonial_item_wrapper {
    padding-left: 58px;
  }

  .testimonials_text {
    padding-left: 10px;
    padding-right: 10px;
  }

  .testimonials_footer {
    padding-left: 60px;
  }

  .sponsors_works li {
    width: 100%!important;
  }

  .module_diagramm ul.skills_list {
    margin: -10px 0 0;
  }

  .module_diagramm ul.skills_list li {
    margin: 10px 0 0;
    width: 100%!important;
  }

  .module_diagramm ul.skills_list li .skill_wrapper {
    margin: 0;
  }

  .module_price_table {
    margin-top: -10px;
  }

  .module_price_table .price_item {
    width: 100%!important;
    margin-top: 10px;
    float: none;
  }

  .title {
    font-size: 20px;
    line-height: 22px;
    padding-left: 27px;
  }

  .landing_logo.landing_logo2 {
    transform: scale(.5,.5);
    -webkit-transform: scale(.5,.5);
  }

  .strip-landing .strip-item {
    width: 100%!important;
    height: 50%;
    float: none;
  }

  .strip-landing .strip-item .strip-text {
    transform: translate(0,20px);
    -webkit-transform: translate(0,20px);
  }

  .strip-item .strip-text img {
    width: auto;
    max-width: inherit;
    max-height: 90%;
  }

  .strip-landing .strip-item:first-child .strip-text {
    transform: translate(0,-20px);
    -webkit-transform: translate(0,-20px);
  }

  .strip-menu {
    position: absolute;
    height: auto;
  }

  .strip-template .strip-item {
    width: 100%!important;
    height: auto;
    float: none;
    background-size: cover;
    overflow: hidden;
  }

  .strip-landing .strip-item .strip-text,.strip-landing .strip-item:first-child .strip-text {
    text-align: center;
  }

  .fs_controls {
    height: 41px;
    position: absolute;
  }

  .fullscreen-gallery {
    position: relative;
  }

  .show_content .fullscreen-gallery {
    position: static;
  }

  .fs_controls .fs_descr,.fs_controls .fs_title,.fs_controls .fs_title_main,.fs_controls .share_toggle,.fs_controls .title_wrapper {
    display: none;
  }

  .fs_likes {
    bottom: 85px;
  }

  .share_box a,.show_share .share_box {
    display: none;
  }

  .fs_controls_append a,.show_me_always {
    width: 41px;
    height: 41px;
  }

  .show_me_always.in_post {
    right: 41px;
  }

  .fs_controls_append a:before,.show_me_always:before {
    transform: scale(.75,.75);
    -webkit-transform: scale(.75,.75);
  }

  .show_content .fs_controls {
    transform: translate(0,41px);
    -webkit-transform: translate(0,41px);
    z-index: 104;
  }

  .show_content .port_content {
    z-index: 102;
  }

  .port_content .contnt_block {
    padding: 81px 10px 40px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  .optionset li:before {
    padding: 0 6px 0 4px;
  }

  .optionset li {
    padding-bottom: 4px;
  }

  .portfolio_block.columns1 .portfolio_dscr,.portfolio_block.columns1 .portfolio_item_img {
    width: 100%;
  }

  .portfolio_block.columns1 .portfolio_item_img {
    padding: 0 0 25px;
  }

  .portfolio_block.columns1 .portfolio_dscr {
    padding: 0;
  }

  .portfolio_block.columns1 {
    margin-top: -40px!important;
  }

  .portfolio_block.columns1 .element {
    margin-top: 40px;
  }

  .portfolio_block {
    margin: -20px 0 0;
  }

  .columns2 .portfolio_item,.columns3 .portfolio_item,.columns4 .portfolio_item {
    width: 100%;
  }

  .columns2 .portfolio_item .portfolio_item_block,.columns3 .portfolio_item .portfolio_item_block,.columns4 .portfolio_item .portfolio_item_block {
    margin: 20px 0 0;
  }

  .ribbon_wrapper {
    position: static;
    height: auto;
    overflow: visible;
    transition: all 300ms;
  }

  .ribbon_wrapper ul.ribbon_list {
    position: static;
    padding: 10px 0 41px!important;
  }

  .ribbon_list li {
    display: block;
    float: none;
  }

  .ribbon_list li .slide_wrapper {
    margin: 0 10px 10px;
  }

  .ribbon_list li .slide_wrapper img {
    width: 100%;
    height: auto;
  }

  .ribbon_panel .btn_next,.ribbon_panel .btn_prev {
    display: none;
  }

  .show_content .ribbon_wrapper {
    height: 100%;
    overflow: hidden;
    position: absolute;
  }


  .preview_type1 .preview_content,.preview_type1 .preview_image {
    width: 100%;
    padding: 0;
  }

  .preview_type1 .preview_image {
    padding-bottom: 20px;
  }

  .commentava.wrapped_img {
    width: 48px;
    height: 48px;
  }

  .stand_comment {
    padding-left: 58px;
  }

  .commentlist li ul>li {
    padding-left: 15px;
  }

  .blog_post_page.blog_post_preview {
    margin-bottom: 0;
  }

  .single_post_module {
    padding-bottom: 0!important;
  }

  #comments {
    padding-top: 40px;
  }

  .postcomment {
    margin-bottom: 16px;
  }

  #reply-title {
    margin-bottom: 17px;
  }

  .cs_logo {
    transform: scale(.75,.75);
    -webkit-transform: scale(.75,.75);
  }

  .countdown-row {
    overflow: visible;
    margin: 0;
  }

  .count_title h1 {
    font-size: 16px;
    line-height: 18px!important;
    letter-spacing: normal;
    margin: 0;
    padding: 0;
  }

  .countdown-row {
    padding: 0;
    width: auto;
    text-align: center;
    display: inline-block;
    transform: translate(10px,0);
    -webkit-transform: translate(10px,0);
  }

  .countdown-amount {
    font-size: 20px!important;
    line-height: 20px!important;
    letter-spacing: normal;
    padding: 0;
  }

  .countdown-period {
    font-size: 14px!important;
    line-height: 14px!important;
    letter-spacing: normal;
    padding: 0;
  }

  .notify_text {
    width: 100%;
    display: block;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: normal;
  }

  .count_container,.notify_shortcode {
    width: 100%;
  }

  .notify_shortcode form {
    width: 300px;
  }

  .notify_shortcode {
    padding: 10px 10px 0;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  .soc_icons {
    padding-top: 20px;
  }

  .count_ico {
    font-size: 24px;
    line-height: 24px;
    margin: 0 15px;
  }

  .notify_shortcode input[type=text],.notify_shortcode input[type=email] {
    width: 220px;
    max-width: 220px;
  }

  .notify_shortcode input[type=submit] {
    width: 80px;
  }

  .wrapper404 {
    width: 100%;
  }

  h1.title404 {
    width: 100%;
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  .text404 {
    margin-bottom: 20px;
  }

  h1.title404 span {
    font-size: 22px;
    line-height: 24px;
  }

  .text404 {
    width: 100%;
  }

  .search404 {
    width: 300px;
  }

  .search404.search_form input.field_search {
    width: 220px;
  }

  .search404.search_button {
    width: 80px;
  }

  .strip-landing .strip-item {
    background-size: cover;
  }

  .strip-text .strip-title,.strip-text .strip_span {
    text-align: center;
  }

  a.pp_close {
    right: 0!important;
    top: 0!important;
  }

  .pad0 {
    padding-bottom: 0!important;
  }

  .pad10 {
    padding-bottom: 10px!important;
  }

  .module_team .items1 li,.module_team .items2 li,.module_team .items3 li,.module_team .items4 li {
    width: 100%;
  }
}


@media only screen and (min-width:760px) and (max-width:1200px) {
  .fullscreen_block .blogpost_preview_fw {
    width: 33.33%;
  }
  
}
@media only screen and (min-width:512px) and (max-width:760px) {
	
	
  .fullscreen_block .blogpost_preview_fw {
    width: 50%;
  }
  
.fl-container.hasRS,.posts-block.hasLS {
    width: 100%;
}
}



@media only screen and (max-width:640px) {
	
	
	.single_media_con{
		padding: 20px 12px 40px 12px;
	}
	
		
	
	#magnific_video_pop_inline_iframe iframe {
    height: 270px !important;
}
	.g_t_cntrl_pop {
    top: 47px  !important;
}
	.g_t_cntrl, .gallery_top_cntrls{
		width:100% !important;
		float:left !important;
	}
	
.gall_two_half-width{
	float:left;
	width:100%;
}


.gall_two_half-width .gallery_top_cntrls{
/*		width:47% !important;
		float:left !important;
		z-index: 33 !important;*/
		width: 10% !important;
		float: left ;
		z-index: 33 !important;
		margin-right: 5%;
}


.gall_two_half-width .gallery_top_cntrls:last-child{
	float: right !important;
	width: 28% !important;
	/*margin-right: 0 !important;*/
}


.last_bt_fixr{
	margin-right: 0px !important;
	float: right !important;
}

.endorse_butn, .lrdy_end{
	width:100%;
	
}
.messges_hm {
    max-height: 200px;
    background: #fafafa;
    border: solid thin #ccc;
    padding: 5px 15px 5px 5px !important;
    border-radius: 5px;
}

html {
 padding-right:0px !important;
}


.right_but{
	margin: 10px 0;
	width:100%;
}


}


@media only screen and (max-width:512px) {
  .fullscreen_block .blogpost_preview_fw,.posts-block.hasLS {
    width: 100%;
  }
}
@media only screen and (min-width:420px) and (max-width:760px) {
  .site_wrapper {
    padding: 30px 20px;
  }
}

@media only screen and (min-width:400px) and (max-width:420px) {
  .site_wrapper {
    padding: 30px 20px;
  }
}

@media only screen and (max-width:480px) {
	
	
.blog_post_page.blog_post_preview.txt_post .like_botton, .blog_post_page.blog_post_preview.txt_post .add_contact_button{
	top: 20px  !important;
}
	
  .preview_top .preview_likes {
	  position:absolute;
	  left: 0px;
	top: 20px;
  }
	#magnific_video_pop_inline_iframe iframe {
    height: 200px !important;
}
#magnific_video_pop_inline{
	height:300px;
}
	#fields select {
    width: 40%;
}
	
.grid_small_set{
	width:100% !important ;
}
	
	.widget_flickr .flickr_badge_image {
    width: 15%;
	}
.preview_top {
	float:left;
	width:100%;
}
.preview_title {
    float: left;
	/*width:100%;*/
}
	  .logo {
	  	padding: 15px 0px 14px 0px;
		height: 35px;
  }
  
  .site_wrapper {
    padding: 30px 10px;
  }
  
  
.w_cat_txt select{
	width:100% !important;
}
}

@media only screen and (max-width:360px) {
	
	.widget_flickr .flickr_badge_image {
    width: 20%;
	}
	  .logo {
		  width:100%;
	  }